@charset "UTF-8";

body {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 400px));
  gap: 25px;
  padding-top: 5vh;
  justify-content: center;
  text-align: center;
  background-color: deepskyblue;
  font-size: 28px;
}

a {
  color: white;
}