.content {
    border: 2px solid green;
    background-color: aqua;
}

.left-block {
    width: 30%;
    float: left;
    margin: 0 10px 0 0;
}

.left-block-ul {
    background-color: wheat;
    margin: 0px;
    padding: 10px 20px 20px 40px;
    box-sizing: border-box;
}

.right-block-text{
    display: inline-block;
    max-width: 69%;
    background-color: rgb(172, 172, 172);
}