.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
}

.block {
    width: 600px;
    background-color: green;
    color: #fff;
}

.block-fat {
    width: 600px;
    padding: 20px;
    border: 20px solid blue;
    background-color: blue;
    color: #fff;
}